nav.navbar.navbar-default(role='navigation', ng-controller='NavbarController  as demo')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') Home
    ul.nav.navbar-nav
      li.active
        a(ng-click='demo.modal()') Login
      li
        a(href='#profile') profile
      li
        a(href='#signup') sign in
      li
        a(ng-click='demo.logout()', ng-show='isLogged') logout

