nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') Home
    ul.nav.navbar-nav
      li.active
        a(href='#login') Login
      li
        a(href='#profile') profile
      li
        a(href='#signup') sign in
