extends ../layout

block styles
  .style

block body

  form(action='/signup/create', method='post')
    div
      label Username:
      input(type='text', name='username')
    div
      label Password:
      input(type='password', name='password')
    div
      label Email:
      input(type='email', name='email')
    div
      label Sex:
      label(for='male') Male
      input(type='radio', name='sex', value='male')
      label(for='female') Female
      input(type='radio', name='sex', value='female')
    div
      label Age:
      input(type='number', name='age')
    div
      input(type='submit', value='Create')
