<div id="todo" style="margin: 20 px; padding-top: 70px" class="droppedHover">
    <div class="container-fluid">
         <h1 class="letterpress">Profile Name</h1>

        <hr class="">
        <div class="row">
            <div class="col-sm-10 col-md-10">
                <div class="page-header" style=""> <a href="/users/bootstraptor" class="pull-right"></a>

                    <center>
                         <h3 class="">List of posts</h3>

                    </center>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2" style="">	<small style="" class="">Profile picture.</small>

                        <div class="container" id="imageperfil">
                            <img src="http://placehold.it/150x100" class="">
                        </div>
                        <hr class="">
                        <center>	<strong style="" class="">Information</strong>

                        </center>
                        <hr class="">
                        <br class=""> <strong class="">Sexe: </strong> male/female
                        <br class=""> <strong class="">Country: </strong> China
                        <br class=""> <strong class="">Birth date:</strong> 
                        <br class="">
                        <center class="">05-02-1991</center>
                        <br class=""> <strong class="">Country: </strong> China
                        <br class=""> <strong class="">Adress</strong> 
                        <br class="">
                        <center class="">dans ta chatte</center>
                        <hr class="">
                        <table class="">
                            <tbody>
                                <tr>
                                    <td> <small class="">Friends</small>

                                    </td>
                                    <td> <span class="badge">34</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                <tr>
                                    <td> <small class="">Post</small>

                                    </td>
                                    <td> <span class="badge badge-success">334</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                <tr>
                                    <td> <small class="">Comment</small>

                                    </td>
                                    <td> <span class="badge">4</span>

                                    </td>
                                </tr>
                                <tr>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                <tr>
                                    <td> <small class="">Salas</small>

                                    </td>
                                    <td> <span class="badge badge-info">5234</span>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-10 col-md-10">
                        <ul id="listStuff" class="nav nav-tabs nav-stacked">
                            <li class="list-child"> <a href="/bootstraptor/64957" class="">Post 1</a>

                            </li>
                            <li class="list-child"> <a href="/bootstraptor/64806" class="">Post 2</a>

                            </li>
                            <li class="list-child"> <a href="/bootstraptor/64801" class="">Post 3</a>

                            </li>
                            <li class="list-child"> <a href="/bootstraptor/64807" class="">Post 4</a>

                            </li>
                            <li class="list-child"> <a href="/bootstraptor/64800" class="">Post 5</a>

                            </li>
                            <li class="list-child"> <a href="/bootstraptor/64693" class="">Post 6</a>

                            </li>
                            <li class="list-child"> <a href="/bootstraptor/64764" class="">Post 7</a>

                            </li>
                        </ul>
                        <ul class="pagination pager list-pager pagination-xs"></ul>
                    </div>
                    <div class="row">Connected</div>
                </div>
                <div class="container"></div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-md-2" style="">	<small style="" class="">Profile picture.</small>

                    <div class="container" id="imageperfil"></div>
                    <hr class="">
                    <center>	<strong style="" class="" contenteditable="false">Information</strong>

                    </center>
                    <hr class="">
                    <br class=""> <strong class="">sex: </strong> 
                    <br class=""> <strong class="">Country: </strong> 
                    <br class=""> <strong class="" contenteditable="false">Birth Date:</strong> 
                    <br class="">
                        <center class="">05-02-1991</center>
                        <br class=""> <strong class="">Country: </strong> 
                        <br class=""> <strong class="" contenteditable="false">Adress</strong> 
                        <br class="">
                        <center class="">dans ta chatte</center>
                        <hr class="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class=""><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>

                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td> <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com" class="">Articles</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com" class="">News</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com" class="">Newsletters</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com" class="">Comments</a>
 <span class="badge">42</span>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class=""><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>

                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td> <a href="http://www.jquery2dotnet.com" class="">Orders</a>  <span class="label label-success">$ 320</span>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <a href="http://www.jquery2dotnet.com" class="">Invoices</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <a href="http://www.jquery2dotnet.com" class="">Shipments</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <a href="http://www.jquery2dotnet.com" class="">Tex</a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="https://app.divshot.com/img/placeholder-100x100.gif" class="">